.parent {
    width: 100%;
    padding-bottom: 25%;
  }
  
.bkgrgrey {
  background-color: rgb(240, 240, 240);
  padding-bottom: 2%;
  height: auto;
}

.PI {
  display: -webkit-flex; /* Safari */
  display: flex;
  padding-bottom: 2%;
}

  .column {
    float: left;
    
  }
  
  .left {
    -webkit-flex-grow: 0; /* Safari 6.1+ */
    -webkit-flex-shrink: 0; /* Safari 6.1+ */
    -webkit-flex-basis: 30%; /* Safari 6.1+ */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
  }


  .lefttwo {
    width: 40%;
  }
  
  .right {
    -webkit-flex-grow: 0; /* Safari 6.1+ */
    -webkit-flex-shrink: 0; /* Safari 6.1+ */
    -webkit-flex-basis: 70%; /* Safari 6.1+ */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
    padding-left: 10%;
  }

  .righttwo {
    width: 60%;
    padding-left: 3%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .filler {
    color: white;
  }