.parent {
    width: 100%;
    padding-bottom: 25%;
  }
  
.bkgrgrey {
  background-color: rgb(240, 240, 240);
}



  .column {
    float: left;
    
  }
  
  .left {
    width: 30%;
  }

  .lefttwo {
    width: 40%;
  }
  
  .right {
    width: 70%;
    padding-left: 10%;
  }

  .righttwo {
    width: 60%;
    padding-left: 3%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .filler {
    color: white;
  }