.parent {
    width: 100%;
    padding-bottom: 25%;
  }
  




  .column {
    float: left;
    
  }
  
  .left {
    width: 30%;
  }

  .lefttwo {
    width: 40%;
    background-color: gray;
  }
  
  .right {
    width: 70%;
    padding-left: 10%;
  }

  .righttwo {
    width: 60%;
    padding-left: 3%;
    background-color: gray;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .filler {
    color: white;
  }