.titlep {
    padding-bottom: 10%;
}

.rightp {
    padding-left: 10%;
}

.whyp {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 200%;
    width: 20%;
}

.whyansp {
    width: 80%;
}