.titlep {
    padding-bottom: 10%;
}

.wrapper {
    display: grid;
    grid-template-columns: 10% 70% 15%;
    grid-template-rows: auto;
    grid-gap: 5px;
    background-color: rgb(240, 240, 240);
    color: #444;
    padding: 10px;
}

.leftp {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.rightp {
    padding-left: 5%;
    padding-bottom: 2%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.bktp {
    padding-top: 3%;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.whyp {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 150%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.whyansp {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding-bottom: 2%;
}

.wherep {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 150%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;

}

.whereansp {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.wherebtn {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
